{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-envelope"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data">
          <div class="form-group required {% if error_email %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-10">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" autocomplete="off" />
              <div id="email-help" class="help-block">{{ help_email }}</div>
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required {% if error_subject %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="input-subject">{{ entry_subject }}</label>
            <div class="col-sm-10">
              <input type="text" name="subject" value="{{ subject }}" placeholder="{{ entry_subject }}" id="input-subject" class="form-control" autocomplete="off" />
              <div id="subject-help" class="help-block">{{ help_subject }}</div>
              {% if error_subject %}
              <div class="text-danger">{{ error_subject }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required {% if error_message %}has-error{% endif %}">
            <label class="col-sm-2 control-label" for="input-message">{{ entry_message }}</label>
            <div class="col-sm-10">
              <textarea name="message" placeholder="{{ entry_message }}" id="input-message" class="form-control">{{ message }}</textarea>
              <div id="message-help" class="help-block">{{ help_message }}</div>
              {% if error_message %}
              <div class="text-danger">{{ error_message }}</div>
              {% endif %}
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> {{ button_send }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
